.input_text, .text_area{
    border-top: 3px solid #000;
    border-left: 3px solid #000;
    border-bottom: 2px solid #bdb8b8;
    border-right: 2px solid #bdb8b8;
    font-size: 15px;
    width: 300px;
    height: auto;
}

.text_area{
    width: 360px;
    height: 160px;
    resize: none;
    margin-bottom: 10px;
}