{% extends "screen.html" %}
{% block content1 %}
<style>
    .error_name{
        background: red;
        color: white;
        font-size: 21px;
        width: auto;
        display: inline-block
    }
</style>
<form method="post" action="/editForm/{{ type }}/{{id}}" enctype="multipart/form-data">
    <div class="file-input-wrapper">
        <a href="/" class="custom-button" style="width: 100%">назад</a>
    </div>
    {% if error %}
    <div class="error_name">Такой фильм уже есть</div>
    <div class>Такой фильм уже есть</div>

    {% endif %}
    <p>
        Название фильма:
        <input class="input_text" name="name" value="{{ name }}" type="text"/>
    </p>

    <p>
        Превью фильма:<br>
        <img id="previewImage" class="edit_preview" src="/api/get_media/{{ id_img }}">
        <br>
    <div class="file-input-wrapper">
        <button type="button" class="custom-button" onclick="document.getElementById('filePreview1').click()">
            Изменить превью
        </button>
        <input name="filePreview" type="file" id="filePreview1" accept="image/png, image/gif, image/jpeg"
               style="display: none;"
               onchange="addFiles(this.files, 'fileListPreview')">

        <div id="fileListPreview" class="file-list"></div>
    </div>
    </p>
    <p>
    <h4>Новела к фильму:</h4><br>
    Вступленение
    <div class="file-input-wrapper">
        <img class="edit_preview" src="/api/get_media/{{ introduction_id_img }}"><br>
        <button type="button" class="custom-button" onclick="document.getElementById('fileIntroduction').click()">
            Изменить файл
        </button>
        <input type="file" name="fileIntroduction" id="fileIntroduction"
               accept="image/png, image/jpeg"
               style="display: none;"
               onchange="addFiles(this.files, 'file_introduction', 'fileIntroduction')">
        <div id="file_introduction" class="file-list"></div>
    </div>
    <br>
    </p>
    <p>
        Озвучка вступленения<br>
        <audio controls>
            <source src="/api/get_media/{{ introduction_id_audio }}" type="audio/mpeg">
            Ваш браузер не поддерживает элемент audio.
        </audio>
    <div class="file-input-wrapper">
        <button type="button" class="custom-button" onclick="document.getElementById('filAudioIntroduction').click()">
            Выбрать
            файл
        </button>
        <input type="file" name="filAudioIntroduction" id="filAudioIntroduction" accept="audio/mpeg"
               style="display: none;"
               onchange="addFiles(this.files, 'file_audio_introduction', 'filAudioIntroduction')">
        <div id="file_audio_introduction" class="file-list"></div>
    </div>
    <br>
    </p>
    Концовка
    <div class="file-input-wrapper">
        <img class="edit_preview" src="/api/get_media/{{ conclusion_id_img }}"><br>
        <button type="button" class="custom-button" onclick="document.getElementById('fileConclusion').click()">
            Изменить файл
        </button>
        <input type="file" name="fileConclusion" id="fileConclusion" accept="image/png, image/gif, image/jpeg"
               style="display: none;"
               onchange="addFiles(this.files, 'file_conclusion', 'fileConclusion')">
        <div id="file_conclusion" class="file-list"></div>
    </div>
    <br>
    </p>
    <p>
        Озвучка концовки<br>
        <audio controls>
            <source src="/api/get_media/{{ conclusion_id_audio }}" type="audio/mpeg">
            Ваш браузер не поддерживает элемент audio.
        </audio>
        <br>
    <div class="file-input-wrapper">
        <button type="button" class="custom-button" onclick="document.getElementById('fileAudioConclusion').click()">
            Выбрать файл
        </button>
        <input type="file" name="fileAudioConclusion" id="fileAudioConclusion" accept="audio/mpeg"
               style="display: none;"
               onchange="addFiles(this.files, 'file_audio_conclusion', 'fileAudioConclusion')">
        <div id="file_audio_conclusion" class="file-list"></div>
    </div>
    <br>
    </p>
    <div class="file-input-wrapper">
        <input class="custom-button" type="submit" value="Приянть изменеия" required/>
    </div>

    <!--    <div class="file-input-wrapper">-->
    <!--        <button class="custom-button" onclick="document.getElementById('fileFrames').click()">Выбрать файлы</button>-->
    <!--        <input type="file" id="fileFrames" name="fileFrames" required multiple accept="image/png, image/gif, image/jpeg"-->
    <!--               style="display: none;"-->
    <!--               onchange="addFiles(this.files, 'fileListFrames')">-->

    <!--        <div id="fileListFrames" class="file-list"></div>-->
    <!--    </div>-->
    <!--    </p>-->


</form>

{% endblock %}



