{% extends "screen.html" %}
{% block content1 %}
<style>
    .error_name{
        background: red;
        color: white;
        font-size: 21px;
        width: auto;
        display: inline-block
    }
</style>
<form method="post" action="/editForm/{{ type }}/{{id}}" enctype="multipart/form-data">
    <div class="file-input-wrapper">
        <a href="/" class="custom-button" style="width: 100%">назад</a>
    </div>
    {% if error %}
    <div class="error_name">Такой фильм уже есть</div>
    <div class>Такой фильм уже есть</div>

    {% endif %}
    <p>
        Название фильма:
        <input class="input_text" name="name" value="{{ name }}" type="text"/>
    </p>
    <p>
        Описание фильма:<br/>
        <textarea maxlength='300' class="text_area" name="description" required>{{ description }}</textarea>
    </p>


    <p>
        Превью фильма:<br>
        <img id="previewImage" class="edit_preview" src="/api/get_images/{{ id_img }}">
        <br>
    <div class="file-input-wrapper">
        <button type="button" class="custom-button" onclick="document.getElementById('filePreview1').click()">
            Изменить превью
        </button>
        <input name="filePreview" type="file" id="filePreview1" accept="image/png, image/gif, image/jpeg"
               style="display: none;"
               onchange="addFiles(this.files, 'fileListPreview')">

        <div id="fileListPreview" class="file-list"></div>
    </div>
    </p>
    <p>
        Новела к фильму:<br>
        <br>
        <img class="edit_preview" src="/api/get_frame/{{ id_frame }}">
        <br>
    <div class="file-input-wrapper">
        <button type="button" class="custom-button" onclick="document.getElementById('fileFrame').click()">
            Изменить кадр
        </button>
        <input type="file" name="fileFrame" id="fileFrame"
               accept="image/png, image/gif, image/jpeg"
               style="display: none;"
               onchange="addFiles(this.files, 'file_frame', 'fileFrame')">
        <div id="file_frame" class="file-list"></div>
    </div>

    <div class="file-input-wrapper">
        <input class="custom-button" type="submit" value="Приянть изменеия" required/>
    </div>

    <!--    <div class="file-input-wrapper">-->
    <!--        <button class="custom-button" onclick="document.getElementById('fileFrames').click()">Выбрать файлы</button>-->
    <!--        <input type="file" id="fileFrames" name="fileFrames" required multiple accept="image/png, image/gif, image/jpeg"-->
    <!--               style="display: none;"-->
    <!--               onchange="addFiles(this.files, 'fileListFrames')">-->

    <!--        <div id="fileListFrames" class="file-list"></div>-->
    <!--    </div>-->
    <!--    </p>-->


</form>

{% endblock %}



