{% extends "screen.html" %}
{% block content1 %}
<style>
    .error_name{
        background: red;
        color: white;
        font-size: 21px;
        width: auto;
        display: inline-block
    }
</style>
<form method="post" action="/addForm/place/{{id}}" enctype="multipart/form-data">
    <div class="file-input-wrapper">
        <a href="/" class="custom-button" style="width: 100%">назад</a>
    </div>
    {% if error %}
    <div class="error_name">Такое место уже есть</div>

    {% endif %}
    <p>
        Название места:
        <input class="input_text" name="name_place" type="text" required/>
    </p>
    <p>
        Широта:
        <input type="number" class="input_text" name="latitude"/>
    </p>
    <p>
        Долгота:
        <input type="number" class="input_text" name="longitude"/>
    </p>
    <p>
        Вопрос по месту:<br>
        <textarea class="text_area" name="question" multiple type="text"
                  required no></textarea>
    </p>
    <p>

        Ответ (Первый вариант это правильный ответ. Если вам нужно,чтоб игрок вводил ответ то заполните только первое
        поле.):<br>
        <input class="input_text" name="answer1" type="text" required/> <br><br>
        <input class="input_text" name="answer2" type="text"/><br><br>
        <input class="input_text" name="answer3" type="text"/><br><br>
        <input class="input_text" name="answer4" type="text"/><br>

    </p>
    <p>
        Факт о месте:<br>
    <div class="file-input-wrapper">
        <button type="button" class="custom-button" onclick="document.getElementById('fileFact').click()">
            Выбрать файл
        </button>
        <input name="fileFact" id="fileFact" type="file" required accept="image/png"
               style="display: none;"
               onchange="addFiles(this.files, 'file_fact', 'fileFact')">

        <div id="file_fact" class="file-list"></div>
    </div>
    </p>
    <p>
        Искаженный кадр места:<br>
    <div class="file-input-wrapper">
        <button type="button" class="custom-button" onclick="document.getElementById('fileDistortedFrame').click()">
            Выбрать файл
        </button>
        <input name="fileDistortedFrame" id="fileDistortedFrame" type="file" required accept="image/png"
               style="display: none;"
               onchange="addFiles(this.files, 'file_distortedFrame', 'fileDistortedFrame')">

        <div id="file_distortedFrame" class="file-list"></div>
    </div>
    </p>
    <p>
        Оригинальный кадр места:<br>
    <div class="file-input-wrapper">
        <button type="button" class="custom-button" onclick="document.getElementById('fileFrame').click()">Выбрать
            файл
        </button>
        <input type="file" name="fileFrame" id="fileFrame" required accept="image/png, image/jpeg"
               style="display: none;"
               onchange="addFiles(this.files, 'file_frame', 'fileFrame')">
        <div id="file_frame" class="file-list"></div>
    </div>
    <br>
    </p>

    </p>
    <p>
        Видеофрагмент (gif):<br>
    <div class="file-input-wrapper">
        <button type="button" class="custom-button" onclick="document.getElementById('fileVideo').click()">Выбрать
            файл
        </button>
        <input type="file" name="fileVideo" id="fileVideo" required accept="video/mp4"
               style="display: none;"
               onchange="addFiles(this.files, 'file_video', 'fileVideo')">
        <div id="file_video" class="file-list"></div>
    </div>
    <br>
    </p>
    <p>
        Текстовая подсказка (картинка с текстом):<br>
    <div class="file-input-wrapper">
        <button type="button" class="custom-button" onclick="document.getElementById('fileFrameText').click()">Выбрать
            файл
        </button>
        <input type="file" name="fileFrameText" id="fileFrameText" required accept="image/png, image/jpeg"
               style="display: none;"
               onchange="addFiles(this.files, 'file_frameText', 'fileFrameText')">
        <div id="file_frameText" class="file-list"></div>
    </div>
    <br>
    </p>
    <div class="file-input-wrapper">
        <input class="custom-button" type="submit" value="Добавить" required/>
    </div>

</form>

{% endblock %}



