{% extends "screen.html" %}
{% block content1 %}
<style>
    .error_name{
        background: red;
        color: white;
        font-size: 21px;
        width: auto;
        display: inline-block
    }
</style>
<form method="post" action="/addForm/film" enctype="multipart/form-data">
    <div class="file-input-wrapper">
        <a href="/" class="custom-button" style="width: 100%">назад</a>
    </div>
    {% if error %}
    <div class="error_name">Такой фильм уже есть</div>
    <div class>Такой фильм уже есть</div>

    {% endif %}
    <p>
        Название фильма:
        <input class="input_text" name="name" value="{{ name }}" type="text" required/>
    </p>
    <p>
        Описание фильма:<br/>
        <textarea maxlength='300' class="text_area" name="description" value="{{ description }}" multiple type="text"
                  required no></textarea>
    </p>


    <p>
        Превью фильма:<br>
    <div class="file-input-wrapper">
        <button type="button" class="custom-button" onclick="document.getElementById('filePreview').click()">Выбрать
            файл
        </button>
        <input name="filePreview" id="filePreview" type="file" required accept="image/png, image/gif, image/jpeg"
               style="display: none;"
               onchange="addFiles(this.files, 'file_Preview', 'filePreview')">

        <div id="file_Preview" class="file-list"></div>
    </div>
    </p>
    <p>
        Новела к фильму:<br>
    <div class="file-input-wrapper">
        <button type="button" class="custom-button" onclick="document.getElementById('fileFrame').click()">Выбрать
            файл
        </button>
        <input type="file" name="fileFrame" id="fileFrame" required accept="image/png, image/gif, image/jpeg"
               style="display: none;"
               onchange="addFiles(this.files, 'file_frame', 'fileFrame')">
        <div id="file_frame" class="file-list"></div>
    </div>
    <br>

    </p>
    <div class="file-input-wrapper">
        <input class="custom-button" type="submit" value="Добавить" required/>
    </div>

</form>

{% endblock %}



