{% extends "screen.html" %}
{% block content1 %}

<a href="/addForm/place/{{id}}" class="button_win95 button_win95_add">Добавить место</a>
<a href="/" class="button_win95 button_win95_add" style="margin-top:10px">назад</a>

<div class="conteiner_card">

    {% for place in list_places %}
    <div class="card">
        <div class="card_name" style="margin: 10px">
            {{ place.name_place }}
        </div>
        <a class="button_win95 button_win95_a">удалить место</a>
        <a class="button_win95 button_win95_a" href="/editForm/place/{{id}}">изменить место</a>
    </div>
    {% endfor %}
</div>
{% endblock %}